<div class="modal-header bg-primary">
    <h5 class="modal-title">Form Tambah Barang</h5>
    <button type="button" class="close" ng-click="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form name="landaform" novalidate="">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    <label class="col-md-3 col-form-label-sm required">Kategori</label>
                    <div class="col-md-9">
                        <ui-select ng-model="form.m_kategori_id" theme="bootstrap">
                            <ui-select-match placeholder="Ketik Kategori Barang">
                                {{$select.selected.nama}}
                            </ui-select-match>
                            <ui-select-choices position="down" refresh="cariKategori($select.search)"
                                               repeat="vals in listKategori | filter : $select.search">
                                {{vals.nama}}
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 col-form-label-sm required">Nama</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" ng-model="form.nama"
                               ng-disabled="is_view" required/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label-sm">Stok</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" ng-model="form.stok"
                               maxlength="11" ng-disabled="is_view"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label-sm">Satuan</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control form-control-sm" ng-model="form.satuan"
                               maxlength="255" ng-disabled="is_view"/>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary btn-sm" ng-click="save(form)">
        <i class="fa fa-save"></i>
        Simpan
    </button>
</div>
