<link href="{{ css}}?t=123" rel="stylesheet" type="text/css"/>
<style type="text/css">
    table {
        border-collapse: collapse;
        width: 100%;
    }
</style>
<div class="card-body" id="print">
    <div align="left">
        <div class="row">
            <div class="col-md-12">
                <br/>
                <center>
                    <h2 class="header-laporan">LAPORAN PENJUALAN BARANG</h2><br>
                    {{ month.bulan | date('F Y') }}
                </center>
                <hr/>
            </div>
        </div>
        <div class="table-responsive">
            <table border="1" class="table table-hover table-bordered table-print">
                <thead>
                <tr align="center">
                    <th rowspan="2">No</th>
                    <th rowspan="2">Tanggal</th>
                    <th rowspan="2">Customer</th>
                    <th rowspan="2">Nama Barang</th>
                    <th rowspan="2">Jumlah</th>
                    <th rowspan="2">Satuan</th>
                    <th rowspan="2">Harga Satuan</th>
                    <th rowspan="2">Subtotal</th>
                </tr>
                </thead>
                <tbody>
                {% for key, row in data %}
                <tr align="center">
                    <td class="align-center">{{ loop.index }}</td>
                    <td class="align-left">{{ row.penjualan_tanggal }}</td>
                    <td class="align-left">{{ row.customer_nama }}</td>
                    <td class="align-left">{{ row.barang_nama }}</td>
                    <td class="align-center">{{ row.detail_jumlah | number_format }}</td>
                    <td class="align-center">{{ row.barang_satuan }}</td>
                    <td class="align-center">{{ row.detail_harga | number_format }}</td>
                    <td class="align-center">{{ row.subTotal | number_format }}</td>
                </tr>
                {% endfor %}
                </tbody>
                <tr align="center">
                    <th colspan="4">Total</th>
                    <th>{{ result.jumlahBarang }}</th>
                    <th></th>
                    <th></th>
                    <th>{{ result.total }}</th>
                </tr>
            </table>
        </div>
    </div>
</div>
