<div class="animated fadeIn">
    <div ng-controller="siswaCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Daftar Siswa</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.jenisSekolah">
                                                <option value="smp">SMP</option>
                                                <option value="sma">SMA</option>
                                                <option value="smk">SMK</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="getLaporan(filter)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" ng-show="tampilkan">
            <div class="card-body" id="print">
                <div align="left">
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <center>
                                <h2 class="header-laporan">LAPORAN DAFTAR SISWA</h2>
                                </br>
                            </center>
                            <hr/>
                        </div>
                    </div>
                    <div ng-repeat="(key, row) in listSiswa">
                        <div class="col-md-6">
                            NAMA SEKOLAH : <b>{{row.sekolah_nama}}</b>
                        </div>
                        <div class="col-md-6">
                            ALAMAT SEKOLAH : <b>{{row.sekolah_alamat}}</b>
                        </div>
                        <div class="col-md-6">
                            TELEPON SEKOLAH : <b>{{row.sekolah_telepon}}</b>
                        </div>
                        <br>

                        <div class="table-responsive">
                            <table border="1" class="table table-hover table-bordered table-print">
                                <thead>
                                <tr align="center">
                                    <th>NIS</th>
                                    <th>Nama</th>
                                    <th>Tanggal Lahir</th>
                                </tr>
                                </thead>
                                <tbody ng-show="!isLoading" ng-repeat="val in row.listSiswa"
                                       ng-if="row.listSiswa.length>0">
                                <tr>
                                    <td class="align-left">{{ val.nis }}</td>
                                    <td class="align-left">{{ val.nama }}</td>
                                    <td class="align-left">{{ val.tanggal_lahir | date:"dd MMM yyyy" }}</td>
                                </tr>
                                </tbody>
                                <tr ng-if="row.listSiswa.length==0 || row.listSiswa==undefined">
                                    <td colspan="3" align="center">Tidak Ada Siswa</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>