<div class="animated fadeIn">
    <div ng-controller="penjualanCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Penjualan Perbulan</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm"
                                                   is-open="opened.bulan"
                                                   ng-click="toggle($event, 'bulan')" ng-model="filter.bulan"
                                                   uib-datepicker-popup="MMMM yyyy"
                                                   datepicker-options="{minMode: 'month'}"
                                                   placeholder="Bulan">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.barang">
                                                <option value="">
                                                    Semua Nama Barang
                                                </option>
                                                <option ng-repeat="(key, row) in listBarang" value="{{row.id}}">
                                                    {{row.nama}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="getRekap(filter)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card" ng-show="tampilkan">
            <div class="card-body" id="print">
                <div align="left">
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <center>
                                <h2 class="header-laporan">REKAP PENJUALAN PERBULAN</h2>
                                </br>
                            </center>
                            <hr/>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table border="1" class="table table-hover table-bordered table-print">
                            <thead>
                            <tr align="center">
                                <th rowspan="2">No</th>
                                <th rowspan="2">Nama Barang</th>
                                <th colspan="{{listDate.length}}">{{filter.bulan | date:"MMM yyyy"}}</th>
                                <th rowspan="2">Total/Barang</th>
                            </tr>
                            <tr align="center">
                                <th ng-repeat="val in listDate">
                                    {{val | date:"dd"}}
                                </th>
                            </tr>
                            </thead>
                            <tbody ng-show="!isLoading" ng-repeat="row in listPenjualan">
                            <tr align="center">
                                <td class="align-center">{{ $index + 1 }}</td>
                                <td class="align-left">{{ row.barang_nama }}</td>
                                <td ng-repeat="vals in row.listPenjualan">{{vals.jumlah}}</td>
                                <td>{{listTotalBarang[row.m_barang_id]}}</td>
                            </tr>
                            </tbody>
                            <tr align="center">
                                <th class="algn-center" colspan="2">Total Penjualan Barang / Hari</th>
                                <th ng-repeat="v in listTotal">{{v}}</th>
<!--                                <th ng-repeat="v in listBarang">{{v}}</th>-->
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>