<div class="animated fadeIn">
    <div ng-controller="laporanBarangCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Penjualan Barang</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm"
                                                   is-open="opened.bulan"
                                                   ng-click="toggle($event, 'bulan')" ng-model="filter.bulan"
                                                   uib-datepicker-popup="MMMM yyyy"
                                                   datepicker-options="{minMode: 'month'}"
                                                   placeholder="Bulan">
                                            <div class="input-group-append">
                                                <span class="input-group-text">
                                                    <i class="fa fa-calendar"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.customer">
                                                <option value="">
                                                    Semua Nama Customer
                                                </option>
                                                <option ng-repeat="(key, row) in listCustomer" value="{{row.id}}">
                                                    {{row.nama}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.barang">
                                                <option value="">
                                                    Semua Nama Barang
                                                </option>
                                                <option ng-repeat="(key, row) in listBarang" value="{{row.id}}">
                                                    {{row.nama}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="getRekap(filter)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="card" ng-show="tampilkan">
            <div class="card-header card-header-white">
                <div class="btn-group pull-right">
                    <button class="btn btn-outline-primary btn-sm pull-right" ng-click="view(1, 0)">
                        <i class="fa fa-file"></i>
                        Excel
                    </button>
                    <button class="btn btn-outline-primary btn-sm pull-right" ng-click="view(0, 1)">
                        <i class="fa fa-print"></i>
                        Print
                    </button>
                </div>
            </div>
            <div class="card-body" id="print">
                <div align="left">
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <center>
                                <h2 class="header-laporan">LAPORAN PENJUALAN BARANG</h2><br>
                                <p class="header-laporan">{{filter.bulan | date:"MMMM yyyy"}}</p>
                            </center>
                            <hr/>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table border="1" class="table table-hover table-bordered table-print">
                            <thead>
                            <tr align="center">
                                <th rowspan="2">No</th>
                                <th rowspan="2">Tanggal</th>
                                <th rowspan="2">Customer</th>
                                <th rowspan="2">Nama Barang</th>
                                <th rowspan="2">Jumlah</th>
                                <th rowspan="2">Satuan</th>
                                <th rowspan="2">Harga Satuan</th>
                                <th rowspan="2">Subtotal</th>
                            </tr>
                            </thead>
                            <tbody ng-show="!isLoading" ng-repeat="row in listPenjualan">
                            <tr align="center">
                                <td class="align-center">{{ $index + 1 }}</td>
                                <td class="align-left">{{ row.penjualan_tanggal }}</td>
                                <td class="align-left">{{ row.customer_nama }}</td>
                                <td class="align-left">{{ row.barang_nama }}</td>
                                <td class="align-center">{{ row.detail_jumlah }}</td>
                                <td class="align-center">{{ row.barang_satuan }}</td>
                                <td class="align-center">{{ row.detail_harga }}</td>
                                <td class="align-center">{{ row.subTotal }}</td>
                            </tr>
                            </tbody>
                            <tr align="center">
                                <th colspan="4">Total</th>
                                <th>{{ result.jumlahBarang }}</th>
                                <th></th>
                                <th></th>
                                <th>{{ result.total }}</th>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>