<div class="animated fadeIn">
    <div ng-controller="mahasiswaCtrl">
        <div class="card">
            <div class="card-header">
                <strong>Laporan Daftar Mahasiswa</strong>
            </div>
            <div class="card-body p-0px">
                <div class="pl-15px pr-15px">
                    <div class="row mt-15px">
                        <div class="col-md-12">
                            <form name="landaform" novalidate="">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.jurusan"
                                                    ng-change="getListKelas(filter.jurusan)">
                                                <option value="">
                                                    Semua Jurusan
                                                </option>
                                                <option ng-repeat="(key, row) in listJurusan" value="{{row.id}}">
                                                    {{row.nama}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <select class="form-control" ng-model="filter.kelas">
                                                <option value="">
                                                    Semua Kelas
                                                </option>
                                                <option ng-repeat="(key, row) in listKelas" value="{{row.id}}">
                                                    {{row.nama}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <button class="btn btn-primary" ng-click="getLaporan(filter)">
                                                <i class="fa fa-search"></i>
                                                Tampilkan
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" ng-show="tampilkan">
            <div class="card-body" id="print">
                <div align="left">
                    <div class="row">
                        <div class="col-md-12">
                            <br/>
                            <center>
                                <h2 class="header-laporan">LAPORAN DAFTAR MAHASISWA</h2>
                                </br>
                            </center>
                            <hr/>
                        </div>
                    </div>
                    <div ng-repeat="(key, row) in listMahasiswa">
                        <div class="col-md-6">
                            JURUSAN : <b>{{row.jurusan_nama}}</b>
                        </div>
                        <div class="col-md-6">
                            ALAMAT : <b>{{row.jurusan_alamat}}</b>
                        </div>
                        <div class="col-md-6">
                            TELEPON : <b>{{row.jurusan_telepon}}</b>
                        </div>
                        <div class="col-md-6">
                            <div ng-if="row.kelas_nama.length>0">
                                KELAS : <b>{{row.kelas_nama}}</b>
                            </div>
                            <div ng-if="row.kelas_nama.length==0 || row.kelas_nama==undefined">
                                KELAS : <b>Tidak Ada Kelas</b>
                            </div>
                        </div>
                        <br>

                        <div class="table-responsive">
                            <table border="1" class="table table-hover table-bordered table-print">
                                <thead>
                                <tr align="center">
                                    <th>NIM</th>
                                    <th>Nama</th>
                                    <th>Alamat</th>
                                    <th>Tanggal Lahir</th>
                                </tr>
                                </thead>
                                <tbody ng-show="!isLoading" ng-repeat="val in row.listMahasiswa"
                                       ng-if="row.listMahasiswa.length>0">
                                <tr>
                                    <td class="align-left">{{ val.nim }}</td>
                                    <td class="align-left">{{ val.nama }}</td>
                                    <td class="align-left">{{ val.alamat }}</td>
                                    <td class="align-left">{{ val.tanggal_lahir | date:"dd MMM yyyy" }}</td>
                                </tr>
                                </tbody>
                                <tr ng-if="row.listMahasiswa.length==0 || row.listMahasiswa==undefined">
                                    <td colspan="4" align="center">Tidak Ada Mahasiswa</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>