<div class="animated fadeIn">
    <div class="row" ng-controller="dashboardCtrl">
        
            <div class="col-md-6">
                <div class="card text-white ng-scope" style="overflow-x: scroll">
                    <div zingchart id="myChart" zc-json="myBarChart" zc-height="400" zc-width="100%">
    
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-white ng-scope" style="overflow-x: scroll">
                    <div zingchart id="myChart1" zc-json="myLineChart" zc-height="400" zc-width="100%">
                    </div>
                </div>
            </div>
        
    </div>
</div>
