<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Menu</li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="app.main">
                    <i class="icon-speedometer"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.mahasiswa">
                    <i class="icon-user"></i>
                    Master Mahasiswa
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.jurusan">
                    <i class="icon-paper-clip"></i>
                    Master Jurusan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.kelas">
                    <i class="icon-people"></i>
                    Master Kelas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.kelas">
                    <i class="icon-people"></i>
                    Pengelompokan Kelas
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="laporan.mahasiswa">
                    <i class="icon-notebook"></i>
                    Laporan Mahasiswa
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.sekolah">
                    <i class="icon-trophy"></i>
                    Master Sekolah
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="laporan.siswa">
                    <i class="icon-notebook"></i>
                    Laporan Daftar Siswa
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.kategori">
                    <i class="icon-cursor"></i>
                    Master Kategori Barang
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.barang">
                    <i class="icon-cursor"></i>
                    Master Barang
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.customer">
                    <i class="icon-user"></i>
                    Master Customer
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="master.supplier">
                    <i class="icon-user"></i>
                    Master Supplier
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.pembelian">
                    <i class="icon-basket"></i>
                    Transaksi Pembelian
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="transaksi.penjualan">
                    <i class="icon-basket"></i>
                    Transaksi Penjualan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="laporan.penjualan_perbulan">
                    <i class="icon-basket"></i>
                    Laporan Penjualan Perbulan
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" ui-sref-active="active" ui-sref="laporan.penjualan_barang">
                    <i class="icon-basket"></i>
                    Laporan Penjualan Barang
                </a>
            </li>
            <li class="nav-title" ng-if="user.m_roles_id != 4">Pengaturan</li>
            <li class="nav-item nav-dropdown" ng-class="{open: $state.includes('pengguna')}" ng-if="user.akses.pengguna_akses || user.akses.pengguna_user">
                <a class="nav-link nav-dropdown-toggle" ng-class="{active: $state.includes('pengguna')}" href="#">
                    <i class="fa fa-user-o"></i>
                    User Login
                </a>
                <ul class="nav-dropdown-items">
                    <li class="nav-item" ng-if="user.akses.pengguna_akses">
                        <a class="nav-link" ui-sref-active="active" ui-sref="pengguna.akses">
                            <i class="icon-cursor"></i>
                            Hak Akses
                        </a>
                    </li>
                    <li class="nav-item" ng-if="user.akses.pengguna_user">
                        <a class="nav-link" ui-sref-active="active" ui-sref="pengguna.user">
                            <i class="icon-cursor"></i>
                            Pengguna
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
